html
  color #222
  font-size 1em
  line-height 1.4
  height 100%
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

*, *:before, *:after
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  

::-moz-selection
  background #b3d4fc
  text-shadow none

::selection
  background #b3d4fc
  text-shadow none

hr
  display block
  height 1px
  border 0
  border-top 1px solid #ccc
  margin 1em 0
  padding 0

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle

fieldset
  border 0
  margin 0
  padding 0

textarea
  resize vertical

.browserupgrade
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

body
  color #000
  font-size 0.813em
  letter-spacing 0.06em
  font-family 'Ubuntu', sans-serif
  font-weight 400
  height 100%
  background-color #efefef

a
  outline none
  text-decoration none
  color #6E7B8B

li
  list-style none

h1
  font-size 1.538em
  padding 10px 0 10px
  font-weight 700
  .fa-chevron-right
    color #53868B

h2
  font-size 1.308em
  padding 10px 0 10px
  font-weight 700

.info-wrap
  padding 10px
  float left
  width 605px
  h1
    span
      font-size 0.846em
  h2
    color #b0b0b0
    margin-left 13px
  .bar-chart
    box-sizing border-box
    height 100%
    padding 0 0 3em
    position relative
    width 100%
    span
      font-family "Helvetica Neue",Arial
      font-size 0.7em
      left 0
      line-height 0
      position absolute
      width 100%
      z-index 6
      font-weight 700
      top -0.6em
  .bar-group
    float left
    height 100px
    position relative
    text-align center
  .bar-outer
    box-sizing border-box
    padding 0 1px
    position absolute
    width 100%
    bottom 20px
    .bar-inner
      border-left 1px solid #333
      border-radius 2px 2px 0 0
      border-right 1px solid #333
      border-top 1px solid #333
      bottom 0
  .bar-inner
    box-sizing border-box
    height 100%
    position relative
    width 100%
  .donut-chart
    width 140px
    display inline-block
  .square
    position relative
    width 100%
    height 0
    padding 0 0 100% 0
  svg
    position absolute
    width 100%
    height 100%
  polygon
    stroke white
    stroke-width 1
    -webkit-transition opacity 0.2s
    transition opacity 0.2s
  text
    text-anchor middle
    font-size 1.2em
    font-weight 700
    fill #999
  p
    text-align center
  .donut-legend
    display inline-block
    margin-top 10px
    vertical-align top
  li
    margin 0 0 5px 1em
  .block
    position relative
    top 0.1em
    display inline-block
    width 1em
    height 1em
    margin 0 0.1em 0 0
    border-radius 50%

#main-header
  background-color #363636
  border-bottom 5px solid #7AC5CD
  color #fff
  font-weight 700
  width 100%
  h1
    font-size 2em
    padding-left 10px
    padding-top 20px
    display inline-block

#main-navigation
  transition height 0.5s ease
  height 0
  overflow hidden
  position absolute
  width 100%
  z-index 5
  background-color #525252
  margin-left 20px
  display inline-block
  height auto
  overflow visible
  position static
  width auto
  background none
  &.open
    height 110px
  li
    display inline-block
  .menu-list-first-item
    a
      border-left none

.menu-icon
  float right
  margin 25px 25px 0
  font-size 1.538em
  cursor pointer

.menu-list
  a
    width 100%
    text-align center
    font-size 1.231em
    padding 10px 0
    display block
    border-top 1px solid rgb(71,71,71)
    color #7ac5cd
    border none
    padding 0
    border-left 1px solid rgb(71,71,71)
    color #7ac5cd
    margin 5px 10px

.menu-list-first-item
  a
    border-top none

#content
  position relative

.add-item
  padding 0 15px
  height 0
  overflow hidden
  height auto
  &.open
    height auto
  & > li
    margin-bottom 15px
  label
    width 100px
    display inline-block

.form-input
  &.short
    width 10%
  &.long
    width 72%
  &.colour
    border none
    padding 13px 8px

.dropdown, .form-input
  border 3px solid #53868B
  border-radius 8px
  position relative
  padding 10px 5px
  background-color #fff
  color #333
  width 50%
  display inline-block
  padding 5px 5px

.dropdown
  cursor pointer
  padding 0

.dropdown-selection
  color #53868B
  padding 13px 5px
  padding 4px
  .fa-chevron-down
    position absolute
    right 10px

.dropdown-wrap
  background-color #fff
  display none
  left -3px
  padding 8px
  position absolute
  top 39px
  width 93%
  border 3px solid #53868B
  overflow-y scroll
  max-height 220px
  width 97%
  top 31px
  max-height 200px
  & > div
    border-bottom 3px solid #c7c7c7
    padding 20px 0
    cursor pointer
    padding 10px 0
  li
    display inline-block

.dropdown-name
  color #c7c7c7
  &:before
    content '-'
    margin 0 3px

.dropdown-colour
  border-radius 10px
  display inline-block
  float left
  height 14px
  margin-right 5px
  margin-top -1px
  width 14px

.active
  border-bottom-left-radius 0px
  border-bottom-right-radius 0px
  .dropdown-wrap
    display block
    z-index 1

.day-picker-wrap
  margin-top 10px
  font-weight 400
  font-size 0.83em
  display inline-block

.day-picker-inner-wrap
  display inline-block
  .day-picker
    min-width 75px
    text-align center

.day-picker
  padding 10px
  cursor pointer
  border 3px solid #4F4F4F
  border-radius 8px
  margin-right 5px
  display inline-block
  padding 7px
  &.selected
    color #333
    background-color #fff
    border 3px solid #53868B

.form-wrap
  padding 10px
  background-color #363636
  color #fff
  position absolute
  z-index 4
  top -74px
  width calc(100% - 20px)
  top 0
  background none
  bottom 0
  color #000000
  width 605px
  &.fixed
    position fixed
    top 0
    z-index 4
    margin-top 0

.form-buttons-wrap
  overflow auto
  .right
    float right

.button
  input
    background none
    font-family 'Ubuntu', sans-serif
    font-weight 700
    padding 7px
    cursor pointer
    border 3px solid #4F4F4F
    border-radius 8px
    margin-right 5px
    padding 4px

.form-title
  cursor pointer

.tracker
  .list-wrap
    margin-top 74px
    margin-top 0

.list-wrap
  padding 10px
  margin-left 628px

.list-title
  margin-bottom 10px

.list-row
  margin-bottom 10px
  position relative
  border-top 1px solid #363636

.list-item
  display inline-block
  padding 0 0 0 10px
  margin-bottom 20px
  &.list-name
    width 50%
  &.list-abr
    width 64px
    vertical-align top
    padding-top 1px
  &.list-time
    width 80%
    padding-left 10px
    .fa
      padding-right 5px
  &.list-date
    margin 0
    background-color #363636
    padding 5px
    color #fff
    width 64px
    font-size 0.846em
    text-align center
  &.list-description
    width 80%
    padding 0 0 0 10px
  &.list-edit
    position absolute
    right 0
    top 50%
    margin-top -7px
    font-size 1.692em
    color #c7c7c7
    cursor pointer
    padding-right 10px

.projects
  .list-item
    padding 25px 0 0 0
  .list-edit
    padding 0 10px 0 0

.project-colour
  border-radius 7px
  display inline-block
  height 15px
  margin-right 5px
  margin-top -1px
  vertical-align top
  width 15px

.list-table-enter
  opacity 0.01
  transition opacity .8s ease-in
  &.list-table-enter-active
    opacity 1

.cp-color-picker
  z-index 5

.uppercase
  text-transform uppercase

/*@media only screen and (min-width:480px)

@media only screen and (min-width:600px)

@media only screen and (min-width:768px)*/

@media (min-width:840px)
  .list-item.list-time 
    width 85%s


@media (min-width:992px)
  .list-item.list-time 
    width 90%

@media (min-width:1382px)
  .list-item.list-time 
    width 87%
  
@media (min-width:992px)
  .list-item.list-time 
    width 90%

@media (min-width:1382px)
  .list-item.list-time 
    width 87%
  .main-header 
    top: 0;
    position: fixed;
    z-index: 2147483647
    
  #main-navigation
    margin-left: 20px;
    display: inline-block;
    height:auto;
    overflow: visible;
    position: static;
    width: auto;
    background: none;
    li
      display: inline-block;
    
    .menu-list a
      border: none;
      padding: 0;
      border-left: 1px solid rgb(71,71,71);
      color: #7ac5cd;
      margin: 5px 10px;
    .menu-list-first-item a
      border-left: none;
  .menu-icon
    display: none 
/*    .list-wrap, .info-wrap {
        width: 1023px;
        margin: 0 auto;
    }*/

  .tracker 
    .list-wrap 
      margin-top: 0;
  .info-wrap 
        float: left;
        width: 605px;
  .list-wrap
    /*        width: 100%;*/
    margin-left: 628px;
    
  .form-wrap 
    top: 0;
    background: none;
    bottom: 0;
    color: #000000;
    width: 605px;
    
  .add-item
    height: auto;
    
  .dropdown-wrap
    width:97%;
    top: 31px;
    max-height: 200px;
    
  .dropdown, .form-input
    padding: 5px 5px;
    
  .dropdown-selection
    padding: 4px;
    
  .day-picker
    padding: 7px;
    
  .button input 
    padding: 4px; 
    
    
  .dropdown-wrap > div 
    padding: 10px 0;
    


@media print
  *,*:before,*:after 
    background: transparent !important
    color: #000 !important
    box-shadow: none !important
    text-shadow: none !important
    

  a,a:visited 
    text-decoration: underline;
    

  /*a[href]:after 
    content: " (" attr[href] ")"
    

  abbr[title]:after {
    content: " (" attr[title] ")"*/

  a[href^="#"]:after,a[href^="javascript:"]:after 
    content: ""
    

  pre,blockquote 
    border: 1px solid #999
    page-break-inside: avoid
    


  thead 
    display: table-header-group
    

  tr,img
    page-break-inside: avoid
    

  img
    max-width: 100% !important
    

  p,h2,h3
    orphans: 3
    widows: 3

  h2,h3
    page-break-after: avoid

.hidden
  display none !important

.main-header
  top 0
  position fixed
  z-index 2147483647

.visuallyhidden
  border 0
  clip rect(0 0 0 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
  clip auto
  height auto
  margin 0
  overflow visible
  position static
  width auto

.invisible
  visibility hidden

.clearfix:before,
.clearfix:after
  content " "
  display table

.clearfix:after
    clear both