/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html
    color #222
    font-size 62.5%
    line-height 1.4
    height 100%
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

*, *:before, *:after 
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header_height = 90px


body
    letter-spacing 0.06em
    font-family 'Ubuntu', sans-serif
    font-weight 400
    height 100%
    /*background-color #efefef*/
    background-color #fff

a
    outline none
    text-decoration none
    color #6E7B8B
    
ul
  padding 0
  margin 0
  
li
    list-style none

h1
    font-size 2em
    padding 10px 0 10px
    font-weight 700

h2
    font-size 1.308em
    padding 10px 0 10px
    font-weight 700

.info-wrap h1 span
    font-size 0.846em

.info-wrap h2
    color #b0b0b0
    margin-left 13px

#content
    transition opacity 0.3s ease-out
    opacity 1
    &.transition
        opacity 0
#main-header 
    background-color #363636
    border-bottom 5px solid #7AC5CD
    color #fff
    font-weight 700
    width 100%
    height header_height
    h1
        font-size 2em
        padding-left 10px
        padding-top 20px
        display inline-block
        .fa-chevron-right
            color #53868B
    .menu-icon 
        float right
        margin 25px 25px 0
        font-size 1.538em
        cursor pointer
    .header-login
        padding 20px 20px 0 0
        float right
        position relative
        > .button
            background-color #7ac5cd
            padding 15px
            font-size 1.4em
            border-radius 10px
            text-align center
            vertical-align middle
            cursor pointer
        ul
            margin-top 22px
            color #222
            display none
            position absolute
            right 20px
            padding 10px
            font-weight 400
            background-color #fff
            border 3px solid #4f4f4f
            border-radius 10px
            z-index 1
            &.open
                display block
                &:before
                    content ''
                    position absolute
                    width 0px
                    height 0px
                    border-bottom 20px solid #4f4f4f
                    border-left 20px solid transparent
                    border-right 20px solid transparent
                    top -21px
                    right 20px
                &:after
                    content ''
                    position absolute
                    width 0px
                    height 0px
                    border-bottom 17px solid #fff
                    border-left 17px solid transparent
                    border-right 17px solid transparent
                    top -17px
                    right 23px
            .form-input
                color #222
            
    #main-navigation
        transition height 0.5s ease
        height 0
        overflow hidden
        position absolute
        width 100%
        z-index 5
        background-color #525252
        &.open
            height 160px
        .menu-list 
            a
                width 100%
                text-align center
                font-size 1.231em
                padding 10px 0
                display block
                border-top 1px solid rgb(71,71,71)
                color #7ac5cd
            .menu-list-first-item 
                a
                    border-top none
            ul
                color #333
                position absolute
                right 20px
                top 80px
                display none
                background-color #7ac5cd
                padding 10px
                border-radius 5px
                z-index 5
                &.open
                    display block
        input
            color #333



#content 
  position: relative;


.add-item  
    label 
        width 100px
        display inline-block
    .form-input
        &.short 
            width: 100px;
        &.colour 
            border: none;
            height 30px
            padding 0
            width 20%

    .dropdown, .form-input 
        border 3px solid #53868B
        border-radius 8px
        position relative
        padding 10px 5px
        background-color #fff
        color #333
        width 100%
        display inline-block
        margin-bottom 15px 
        
    .dropdown
        z-index 1
        cursor pointer
        padding 0
        .dropdown-selection
            color: #53868B;
            padding: 13px 5px;
            .fa-chevron-down 
                position: absolute;
                right: 10px;
        .dropdown-name
            color: #c7c7c7;
            &:before 
                content: '-';
                margin: 0 3px;
        .dropdown-colour 
            border-radius: 10px;
            display: inline-block;
            float: left;
            height: 14px;
            margin-right: 5px;
            margin-top: -1px;
            width: 14px;
        .dropdown-wrap 
            background-color: #fff;
            display: none;
            left: -3px;
            padding: 0 5px;
            position: absolute;
            top: 40px;
            width: calc(100% + 6px);
            border: 3px solid #53868B;
            overflow-y: scroll;
            max-height: 220px;
            > div
                border-bottom: 3px solid #c7c7c7;
                cursor: pointer;
            li 
                display: inline-block;
        .dropdown-project
            padding 10px 0px
        .dropdown-project-sub
            padding 10px 0px 10px 20px
        &.active
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px; 
            .dropdown-wrap 
                display: block;
                z-index: 1;
                
.minicolors-theme-custom .minicolors-swatch {
    top: 5px;
    left: 5px;
    width: 100%;
    height: 18px;
}
.minicolors-theme-default.minicolors-position-right .minicolors-swatch {
    left: auto;
    right: 5px;
}


.datepicker-wrap
    .selected
        color #333
        background-color #fff
    .year-picker-wrap
        text-align center
    .month-picker-wrap
        .month-picker
            display inline-block
            width 32%
            padding 10px 0
            cursor pointer
            text-align center
            font-size 1.6em
                    
    .day-picker-wrap 
        margin-top 10px
        font-weight 400
        font-size 1em
        .day-picker-inner-wrap 
            .day-picker
                text-align center
        .day-picker
            padding 10px
            cursor pointer
            display inline-block
            width 14%
        .day-nav
            display inline-block
            width 50%
            padding 10px 0 15px
            font-size 1.6em
            cursor pointer
            span
                margin 0 5px
            &.date-prev
                text-align left
            &.date-next
                text-align right


.column-1
    padding 20px 10px 30px 10px
    background-color #363636
    color #fff
    z-index 4
    position absolute
    top -64px
    left 0
    right 0
    &.fixed
        position: fixed;
        top: 0;
        z-index: 4;
        margin-top: 0;
    height 0
    overflow hidden
    &.open
        height auto
    .form-title
        display inline-block
        width 50%
    .expand
        width 100%
        text-align center
        font-size 2.4em
        cursor pointer
        margin-top -14px
        padding 10px


.form-buttons-wrap {
    overflow: auto;
}
/*.form-buttons-wrap .button{
    float: right;
    padding-bottom: 10px;
}*/

.button input{
    background: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    
    padding: 7px;
    cursor: pointer;
    border: 3px solid #4F4F4F;
    border-radius: 8px;
    margin-right: 5px;
}
.form-buttons-wrap .right{
        float: right;
}

.form-title {
    cursor: pointer;
}
.tracker .list-wrap{
    margin-top: 74px;
}

.list-wrap
    font-size 1.4em
    padding 10px
    margin-top 64px
    .list-item
        padding-bottom 10px
    .list-title-row
        li
            display inline-block
            vertical-align middle
            .fa
                padding-right 5px
    .list-round-color
        width 55px
        height 55px
        line-height 45px
        border 5px solid #fff
        border-radius 50%
        .list-round-text
            text-align center
            font-weight 700
    .list-title-row-content
        padding 0 5px
    .list-title-row-center
        padding-left 10px
        width calc(100% - 125px)
    .list-title-row-right
        width 60px
    .list-edit
        cursor pointer
        
            
        
#time
    .list-wrap
        .list-item
            &.list-item-title
                background-color #fff
            > div
                vertical-align top
                display inline-block
            .list-date
                padding 0 5px
                text-align center
                div
                    display inline-block
                    &.list-date-value
                        width 74px
                        vertical-align middle
            .list-abr
                padding 0
            
            .list-description
                display inline-block
                vertical-align top
                border-left 1px solid #c7c7c7
                border-bottom 1px solid #c7c7c7
                width calc(100% - 28px)
                margin-left 27px
                padding 10px 0 10px 20px
                
            .list-week-separator
                text-align center
                background-color #363636
                color #fff
                padding 3px 0
                display block
                margin-bottom 10px
            
#project
    .list-wrap
        .list-item
            .list-column-1
                width calc(100% - 80px)
            .list-column-2
                width 80px
                text-align center
            .list-subproject-wrap
                div
                    display inline-block

/*
.list-title {
    margin-bottom: 10px;
}

.list-row {
    margin-bottom: 10px;
    position: relative;
    border-top: 1px solid #363636;
}
.list-item {
    display: inline-block;
    padding: 0 0 0 10px;
    margin-bottom: 20px;
}
.list-item.list-name{
    width: 50%;
}
.list-item.list-abr {
    width: 64px;
    vertical-align: top;
    padding-top: 1px;
}
.list-item.list-time {
    width: 80%;
    padding-left: 10px;
}
.list-item.list-time .fa{
    padding-right:5px;
}

.list-item.list-description {
    width: 80%;
    padding: 0 0 0 10px;
}

.list-item.list-edit {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
    font-size: 1.692em;
    color: #c7c7c7;
    cursor: pointer;
    padding-right: 10px;
}*/
.projects .list-item {
    padding: 25px 0 0 0;
}
.projects .list-edit {
    padding: 0 10px 0 0;
}
.project-colour {
    border-radius: 7px;
    display: inline-block;
    height: 15px;
    margin-right: 5px;
    margin-top: -1px;
    vertical-align: top;
    width: 15px;
}
/*.list-table-enter {
  opacity: 0.01;
  transition: opacity .8s ease-in;
}

.list-table-enter.list-table-enter-active {
  opacity: 1;
}*/
.cp-color-picker {
    z-index: 5;
}
.uppercase {
    text-transform: uppercase;
}

/*Bar Chart CSS*/
.info-wrap 
    /*margin-top: 74px;*/
    padding 10px  
    .bar-chart 
        box-sizing: border-box;
        height: 100%;
        padding: 0 0 3em;
        position: relative;
        width: 100%;
     .bar-group 
        float: left;
        height: 100px;
        position: relative;
        text-align: center;
    .bar-outer 
        box-sizing: border-box;
        padding: 0 1px;
        position: absolute;
        width: 100%;
        bottom: 20px;
        .bar-inner 
            border-left: 1px solid #333;
            border-radius: 2px 2px 0 0;
            border-right: 1px solid #333;
            border-top: 1px solid #333;
            bottom: 0;
    .bar-inner 
        box-sizing: border-box;
        height: 100%;
        position: relative;
        width: 100%;
    .bar-chart 
        span
            font-size: 0.7em;
            left: 0;
            line-height: 0;
            position: absolute;
            width: 100%;
            z-index: 6;
            font-weight: 700;
            top: -0.6em;
    .donut-chart 
        width: 140px;
        display: inline-block;
    .square 
        position: relative;
        width: 100%;
        height: 0;
        padding: 0 0 100% 0;
    svg
        position: absolute;
        width: 100%;
        height: 100%;
    polygon
        stroke: white;
        stroke-width: 1;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
    text 
        text-anchor: middle;
        font-size: 1.2em;
        font-weight: 700;
        fill: #999;
    p 
        text-align: center;
    .donut-legend
        display: inline-block;
        margin-top: 10px;
        vertical-align: top;
        li 
            margin: 0 0 5px 1em;
            font-size: 1.8em
        .block 
            position: relative;
            top: 0.1em;
            display: inline-block;
            width: 1em;
            height: 1em;
            margin: 0 0.1em 0 0;
            border-radius: 50%;
 
  

@media (min-width: 424px) 
    .add-item
        .dropdown, .form-input
            width calc(100% - 104px)

@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
}
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
}
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
}
@media only screen and (min-width: 840px) {
  /* 992 =================================================== */
 
}
@media (min-width: 992px)
    #content
        height "calc(100vh - %s)" % header_height
        overflow hidden
        display:block;
        width:100%;
    .table-layout
        display table
        table-layout fixed
        .column
            display table-cell
            height: inherit;
            vertical-align: top;
        .column-1
            min-width 500px
            background: none;
            position static
            color: #000000;
            width 500px
            padding 10px  
            height: auto;
            &.fixed
                position static
        .column-2
            min-width 491px 
    #main-header 
        position: static;
        #main-navigation 
            margin-left: 20px;
            display: inline-block;
            height:auto;
            overflow: visible;
            position: static;
            width: auto;
            background: none;
            a
                border: none;
                padding: 0;
                border-left: 1px solid rgb(71,71,71);
                color: #7ac5cd;
                margin: 5px 10px;
    
            li
                display inline-block
    
    .menu-icon 
        display none
    .list-wrap, .form-wrap
        padding 0
    .column
    .column-1
        
    .list-wrap
        margin-top 0
        .list-table
            overflow-y: auto;
            height "calc(100vh - (%s + 97px))" % header_height
    .datepicker-wrap
        .selected
            color #fff
            background-color #363636
    

@media only screen and (min-width: 1382px)
    .table-layout
        .column-2
            min-width 800px 
    
    
    /*.menu-list*/ 
    #main-navigation .menu-list-first-item a{
        border-left: none;
    }
/*    .list-wrap, .info-wrap {
        width: 1023px;
        margin: 0 auto;
    }*/

    .tracker .list-wrap {
        margin-top: 0;
    }
    
/*    .info-wrap {
        width: 605px;
    }*/
/*    .list-wrap{
        width: 100%;
        margin-left: 628px;
    }*/
    
    
    .dropdown-wrap {
        width:97%;
        top: 31px;
        max-height: 200px;
    }
    .dropdown, .form-input {
        padding: 5px 5px;
    }
    .dropdown-selection {
        padding: 4px;
    }
    .day-picker {
        padding: 7px;
    }
    .button input {
        padding: 4px; 
    }
    
    .dropdown-wrap > div {
        padding: 10px 0;
    }















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}