<div id="main-header" role="main-header">
        <h1><span class="fa fa-clock-o"></span>TimeTrackr</h1>
        <div class="menu-icon"><span class="fa fa-bars"></span></div>
        
        <div class="header-login">
            <div class="header-login-button">here<span class="fa fa-sign-in"></span></div>
            <ul>
                <li>
                  <label for="email">Email<span class="required">*</span></label>
                  <input type="text" name="email" on-change='handleEmail'>
                </li>
                <li>
                  <label for="password">Password<span class="required">*</span></label>
                  <input type="password" name="password" on-change='handlePassword'>
                </li> 
                <li>
                    <div class="button"> <input value="Login" name="login" type="button" on-click="login"></div>
                </li>
            </ul>
              <!--div class="register-link">Not registered? click here</div--> 
        </div>
</div>
<div id="content">
    {{ page }}
    
</div>
<script>
    var async = require('async');
    component.exports = {
		data: {
            email: null,
            password: null
        },

		oninit: function () {
            this.on({
                handleEmail: function(event) {
                    this.set('email',event.original.target.value);
                },
                handlePassword: function(event) {
                    this.set('password',event.original.target.value);
                },
                
                login: function() {
                    
                    var self = this;
                    var data = {email: this.get('email'),password: this.get('password')};
                    async('post','login',data)
                        .done(function(resp) {
                            localStorage.setItem("token", resp.data.token);
                            self.set('signedIn', true);
                        }).fail(function(resp){
                //            self.setState({error: true});
                //            self.setState({err_msg: _data.responseJSON.payload.err_msg});
                        });
                },
            })
			
		},
    };
</script>