<div class="datepicker-wrap">
    <div class="year-picker-wrap">
        {{formatYear(currentDate)}}
    </div>
    <div class="month-picker-wrap clearfix">
        
        <div on-tap='previousMonth' class='month-picker month-prev fa fa-chevron-left'></div>
            <div class="month-picker">{{formatMonth(currentDate)}}</div>

    <div on-tap='nextMonth' class='month-picker month-next fa fa-chevron-right'></div>
    </div>
<div class="day-picker-wrap">
    <div on-tap='previousDates' class='day-nav date-prev'><span class="fa fa-chevron-left"></span>previous week
    </div><div on-tap='nextDates' class='day-nav date-next'>next week<span class="fa fa-chevron-right"></span></div>
    <div class="day-picker-inner-wrap">
        {{#each dates:i}}
            <div on-tap='selectDate' class='day-picker {{#if formatDate(.) === formatDate(currentDate) }}selected{{/if}}'>{{formatDate(.)}}</div>
        {{/each}}
    </div>
    
</div>
</div>
<script>
    var moment = require('moment');
	component.exports = {
    data: {
        dates: null,
        currentDate: null,
        newDate: null,
        reset: false,
        formatDate: function(date) {
            return moment(date).format('ddd Do');
        },
        formatMonth: function(date) {
            return moment(date).format('MMMM');
        },
        formatYear: function(date) {
             return moment(date).format('YYYY');   
        },
        
        
    },
    onchange: function(prop) {
        
        if(typeof prop.newDate !== 'undefined' && prop.newDate) {
            var date = prop.newDate;
            this.set('newDate',null);
            this.setDates(date);
        }

        if(typeof prop.reset !== 'undefined' && prop.reset) {
            this.set('currentDate', moment().format());
        }
    },
    oninit: function() {
        this.setDates();
        this.on({
            selectDate: function(event){
                this.set('currentDate',event.context)
            },
            previousDates: function() {
                var currentDate = this.get('currentDate');
                var date = moment(currentDate);
                this.setDates(date.subtract(7,'d'));
            },
            nextDates: function(event) {
                var currentDate = this.get('currentDate');
                var date = moment(currentDate);
                this.setDates(date.add(7,'d'));
            },
            previousMonth: function() {
                var currentDate = this.get('currentDate');
                var date = moment(currentDate);
                this.setDates(date.subtract(1,'M'));
            },
            nextMonth: function() {
                var currentDate = this.get('currentDate');
                var date = moment(currentDate);
                this.setDates(date.add(1,'M'));
            }
        });
    },
    setDates: function(date) {
        var date = moment(date);
        var currentDate = date.format();
        var dayOfWeek = date.day();
        date.subtract(dayOfWeek,'days')

        var dates = [];
        var x =0;
        while( x < 7) {
            if(!x) {
               dates.push(date.format()); 
            } else {
                dates.push(date.add(1,'d').format());
            }
            x++;
        }
        this.set({dates: dates, currentDate: currentDate});
    },
};
</script>
