
<ul class="{{#if open }}open{{/if}}" >
                <li>
                  <label for="email">Email<span class="required">*</span></label>
                  <input type="text" name="email" class="form-input" on-change='handleEmail'>
                </li>
                <li>
                  <label for="password">Password<span class="required">*</span></label>
                  <input type="password" name="password" class="form-input" on-change='handlePassword'>
                </li> 
                <li>
                    <div class="button"> <input value="Login" name="login" type="button" on-tap="login"></div>
                </li>
            </ul>
              <!--div class="register-link">Not registered? click here</div--> 
              
<script>
    var async = require('async');
    var page = require('page');
    component.exports = {
		data: {
            email: null,
            password: null
        },

		oninit: function () {
            this.on({
                handleEmail: function(event) {
                    this.set('email',event.original.target.value);
                },
                handlePassword: function(event) {
                    this.set('password',event.original.target.value);
                },
                
                login: function() {
                    
                    var self = this;
                    var data = {email: this.get('email'),password: this.get('password')};
                    async('post','login',data)
                        .done(function(resp) {
                            localStorage.setItem("token", resp.data.token);
                            self.parent.set('signedIn', true);
                            page.redirect('times')
                        }).fail(function(resp){
                //            self.setState({error: true});
                //            self.setState({err_msg: _data.responseJSON.payload.err_msg});
                        });
                },
            })
			
		},
        
    };
</script>              
