<div id="main-header" role="main-header" class="clearfix">
        <h1><span class="fa fa-clock-o"></span>TimeTrackr</h1>
        <div class="menu-icon" on-tap="toggleMenu"><span class="fa fa-bars"></span></div>
        {{#if signedIn}}
        <nav role="main-navigation" id="main-navigation" class="{{#if menuOpen }}open{{/if}}" > 
            <ul class="menu-list">
                <li class="menu-list-first-item">
                    <a href='/times'>times</a>
                </li><li>
                    <a href='/projects'>projects</a>
                </li><li>
                    <a href='/logout'>logout</a>
                </li>
            
            </ul>
        </nav>
        {{else}}
        <div class="header-login">
            <div class="button" on-tap='toggleLogin'>Login<span class="fa fa-sign-in"></span></div>
            <Login open='{{loginOpen}}' />
              <!--div class="register-link">Not registered? click here</div--> 
        </div>
        {{/if}}
</div>
<div id="content">
    {{#if signedIn}}
        {{#if page==='times'}}
            <Times projects="{{projects}}"/>
        {{elseif page==='projects'}}
            <Projects projects="{{projects}}"/>
        {{/if}}
    {{else}}
        <Login/>
    {{/if}}
</div>
<script>
    var async = require('async');
    var ProjectStore = require('stores/ProjectStore');
    var projectActions = require('actions/ProjectActions');


    component.exports = {
		data: {
			user: null,
            fixed: false,
            loginOpen: false,
            menuOpen: false,
            projects: null,
        },
        components: {
            Times: require('rvc!ui/times'),
            Login: require('rvc!ui/login'),
            Projects: require('rvc!ui/projects')},
		oninit: function () {
            this.set({projects: ProjectStore.getState().projects});
            var removeProjectChangeHandler = ProjectStore.listen(function listChangeHandler(store) {
                console.log('here')
                this.set('projects', store.projects);
            }.bind(this));
            this.on('teardown', function onteardownHandler() {
                removeProjectChangeHandler();
            });
            this.on({
                toggleLogin: function() {
                    this.toggle('loginOpen');
                },
                toggleMenu: function() {
                    this.toggle('menuOpen');
                }
            })
		},
        getUser: function() {
            var self = this;
            async("GET",'user')
            .done(function(resp) {
                self.set('user',resp.data);
            }).fail(function(resp){
    //            self.setState({error: true});
    //            self.setState({err_msg: _data.responseJSON.payload.err_msg});
            });
        },
        
    };
</script>