
    <div id='fixedForm' class='form-wrap {{#if fixed }}fixed{{/if}}'>
        <div class='form-inner-wrap'>
            <h1 on-tap='toggleForm' class='form-title'><span class="fa fa-chevron-right"></span> {{ edit ? 'Edit project' : 'Add a project' }}</h1>
                
                    <ul class='add-item {{#if open }} open {{/if}}'>
                        <li>
                            <label>Colour:</label>
                            {{#if html5}}
                                <input type="color" class='form-input colour' value="{{project.colour}}" name="colour" on-change='handleInput'>
                            {{else}}
                                <input on-change='handleInput' decorator="colorpicker:{{project.colour}}" type="hidden" class='form-input color' value="{{project.colour}}" name="colour">
                            {{/if}}
                        </li><li>
                            <label>Name:</label>
                            <input class='form-input long' placeholder='0.0' name='name' value={{project.name}} on-change='handleInput'/>
                        </li><li>
                            <label>Abbreviation:</label>
                            <input  class='form-input short' placeholder='Add abbreviation here' name='abbreviation' value={{project.abbreviation}} on-change='handleInput'/>
                        </li><li>
                            <label>Company:</label>
                            <input  class='form-input long' placeholder='Add company name here' name='company' value={{project.company}} on-change='handleInput'/>
                        </li><li>
                            <div class="form-buttons-wrap">
                                <div class="button">
                                    {{#if edit }}<input value='Delete' type='button' name='delete' on-tap='deleteProject'/>{{/if}}
                                    <input class='right' value='Cancel' type='button' name='cancel' on-tap='cancelForm' />
                                    <input class='right' value='Submit' type='submit' name='log' on-tap='submitProject'/>
                                </div>
                            </div>
                        </li>
                  </ul>

            </div>
        </div>

<script>
    var moment = require('moment');
    var async = require('async');
    var modernizr = require('modernizr');
    var ProjectActions = require('actions/ProjectActions');
    var ProjectStore = require('stores/ProjectStore');

    component.exports = {
		data: { 
            project: null,
            new_project:null,
            html5: false,
            formatDate: function(date) {
                return moment(date).format('Do MMM YYYY');
            },
        },
        twoway:false,
        isolated:true,
        lazy:true,
        components: {
//            DayPicker: require('rvc!ui/daypicker'),
//            ProjectDropdown : require('rvc!ui/projectdropdown'),
        },
        events: {
            tap: require( 'ractive-events-tap' )
        },
        oninit: function() {
            console.log(this)
//            this.root.set({projects: ProjectStore.getState().projects});
//            this.observe('project', function(one,two,three){
//                console.log(one,two,three);
//            })
            this.initData();
            this.isHtml5();
            this.on({
                toggleForm : function(event){
                    this.toggle('open');
                    if(this.get('edit')) {
                        this.set('edit',false)
                    }
                },
                cancelForm: function() {
                    this.clearForm();
                },
                handleInput: function(event) {
//                    console.log(event)
                    
                    this.set('project.'+event.original.target.name,event.node.value);
//                    return false;
                },
                submitProject: function(event) {
                    var project = this.get('project');
//                    console.log(project);return;
                    if(!project) { return };
                    var updateFlag = this.get('edit');
                    if(updateFlag) {
                        ProjectActions.updateItem(project);
                        this.clearForm();
                    } else {
                        ProjectActions.addItem(project);
                        this.clearForm();
                    }
                },
                deleteProject: function(event) {
                    if( confirm("Are you sure you wish to delete this project?")) {
                        var project = this.get('project'), self = this;
                        if(!project) { return };
                        var url = 'projects/'+project.id;
                        async('DELETE',url)
//                        $.ajax({type: "POST",url: url,data: {id: project.id,_token : $('#_token').val()}})
                        .done(function(resp){
                            console.log(resp);
                            self.deleteProject(project.id);
                           
                        }).fail(function(resp){
                                console.log(resp.responseJSON);
                        });
                    }
                },
            })
        },
        decorators: {
            colorpicker: require('colorpickerdecorator')
        },
        isHtml5: function() {
            this.set('html5',modernizr.inputtypes.color);
        },
        onrender: function() {
            var formEl = this.find('#fixedForm');
            var top = formEl.getBoundingClientRect().y;
            var self = this;
            $(window).scroll(function (event) {
                var y = event.currentTarget.pageYOffset;
                toggleFixedForm(y,top);
            });
            var toggleFixedForm = function(y,topOffset) {
                if (y >= topOffset) {
                    // if so, ad the fixed class
                    self.set('fixed', true);
                } else {
                    // otherwise remove it
                    self.set('fixed', false);
                }
            };
        },
        clearForm: function() {
            this.initData();
//            this.findComponent('DayPicker').set('reset', true);
//            var projectSelect = this.findComponent('ProjectSelect');
//            projectSelect.set('project_id', projectSelect.get('default_id'));
//            this.set('project.project_id',  projectSelect.get('default_id'))
            this.set({open:false,edit:false});
        },
        initData: function() {
            var project = {};
            project.id=0;
            project.colour = '#53868B';
            project.name = null;
            project.description = null;
            project.company = null;
            this.set({project: project,new_project:project});
        },
        addProjects: function(project) {
            var projects = this.get('projects');
            this.unshift('projects',project);
            this.clearForm();
        },
        updateProjects: function(project) {
            var projects = this.get('projects');
            for(var x in projects) {
                if(projects[x].id === project.id) {
                    this.splice( 'projects', x, 1, project );
                    break;
                }
            }
            this.clearForm();
        },
        deleteProject: function(project) {
            var projects = this.get('projects');
            for(var x in projects) {
                if(projects[x].id === project) {
                    this.splice( 'projects', x, 1);
                    break;
                }
            }
            this.clearForm();
        }
    }
