<div id="project" class="table-layout">
    <div class="column column-1">
    <ProjectForm edit="{{edit}}"/>
</div>
<div class="column column-2">
<div class='list-wrap'>
         <h1 class='list-title'><span class="fa fa-chevron-right"></span>Projects</h1>

         <div class='list-table'>
         {{#each projects:i}}
             <ul class='list-row' style='border-left-color: {{.colour}};'>
                 <li class='list-item list-item-title' >
                     <div class='list-date list-column-1'>
                     </div><div class='list-column-2'>
                         <div><div class="list-label"><span class="fa fa-wrench"></span></div><div class='list-abr'>{{.abbreviation}} - {{.name}}</div></div>
                         <div><div class="list-label"><span class="fa fa-clock-o"></span></div><div class='list-time'></div></div>
                     </div><div on-tap='editProject' class='list-edit list-column-3'><span class='fa fa-pencil-square'></span>Edit</div>
                 </li>
                 {{#if .subprojects.data}} <li class='list-item' >
                     {{#each .subprojects.data}}
                     <div class='list-name'>{{.name}}</div>
                <div class='list-description'>{{.description}}</div>
                {{/each}}
                </li>{{/if}}
            </ul>
         {{/each}}
         </div>
     </div> 
</div>
<div class="column column-3">
    
</div>
</div>
<script>
    var async = require('async');
    var Immutable = require('immutable');
    component.exports = {
		data: {
            open: false,
            edit: false,
            fixed: false,
            formatDate: function(date) {
                var moment = require('moment');
                return moment(date).format('ddd Do MMM YYYY');
            },
        }, 
        components: {
            ProjectForm: require('rvc!ui/projectform')
        },
        oninit: function() {
//            this.root.observe('projects',function(one,two,three)
//            {
//                console.log(one,two,three)
//            })
            this.on({
                editProject: function(event) {
                    var project = Immutable.Map(this.get(event.keypath));
                    var new_project = project.toJS();
                    console.log(new_project)
                    this.findComponent('ProjectForm').set('project',new_project);
                    this.set({edit: true,open: true});
//                    var projectDropdown = this.findComponent('ProjectDropdown');
//                    projectDropdown.set('item_id',this.get(time).project_id);
//                    projectDropdown.set('subproject_id',this.get(time).subproject_id);
//                    this.findComponent('DayPicker').set('newDate',this.get(time).log_date);
                },
            })
        },
    }
</script>
