<ul  class='dropdown {{#if active }}active{{/if}}'>
    <li on-tap='toggleSelect' class='dropdown-selection'>
        <span class="dropdown-colour" style='background-color:{{items[ selected_project ].colour}}'></span>
        {{items[ selected_project ].abbreviation}}
        <span class="dropdown-name"> {{items[ selected_project ].name}}</span>
        {{#if items[ selected_project ].subprojects[subproject_id]}}<span class="dropdown-name"> {{items[ selected_project ].subprojects[subproject_id].name}}</span>{{/if}}
        <span class="fa fa-chevron-down"></span>
    </li>
    
    <li class="dropdown-wrap">
    {{#each items:i}}
        <div data-id='{{.id}}' >
            <div class="dropdown-project" on-tap='selectProject'>
            <span class="dropdown-colour" style='background-color:{{.colour}}'></span>
                <span class="dropdown-abr" >{{.abbreviation}}</span>
                <span class="dropdown-name" >{{.name}}</span>
            </div>
                {{#each .subprojects}}
                <div class="dropdown-project-sub" on-tap='selectSubproject'>{{.name}}</div>
                {{/each}}
            </div>
    {{/each}}
    </li>
</ul>
<script>
    var ProjectActions = require('actions/ProjectActions')
	component.exports = {
    data: {
        active: false,
        item_id:  0,
//        default_id: 0,
        subproject_id: 0,
        findInitID: function(id){
            
        }
    },
    oninit: function() {
        this.on({
            toggleSelect: function(event) {
                this.toggle('active');
            },
            selectProject: function(event) {
                ProjectActions.selectProject(event.context.id)
                this.set({active:false,item_id:event.context.id,subproject_id:0});
            },
            selectSubproject: function(event){
                var split = event.keypath.split('.');
                this.set({active:false,item_id:split[1],subproject_id:split[3]});
                
            }
        });
    },

};
</script>
