
    <div id='fixedForm' class='form-wrap {{#if fixed }}fixed{{/if}}'>
        <div class='form-inner-wrap'>
            <h1 on-tap='toggleForm' class='form-title'><span class="fa fa-chevron-right"></span> {{ edit ? 'Edit time' : 'Add a time' }}</h1>
                
                    <ul class='add-item {{#if open }} open {{/if}}'>
                        <li>
                            <label>Project:</label>
                           <ProjectDropdown items="{{projects}}" selected_project="{{selected_project}}"/>
                        </li><li>
                            <label>Time:</label>
                            <input class='form-input short' placeholder='0.0' name='time' value={{time.time}} on-change='handleInput'/>
                        </li><li>
                            <label>Description:</label>
                            <input  class='form-input long' placeholder='Add description here' name='description' value={{time.description}} on-change='handleInput'/>
                        </li><li>
                            <label>Date:</label>
                            <DayPicker time_date={{time.log_date}} />
                        </li><li>
                            <div class="form-buttons-wrap">
                                <div class="button">
                                    {{#if edit }}<input value='Delete' type='button' name='delete' on-tap='deleteTime'/>{{/if}}
                                    <input class='right' value='Cancel' type='button' name='cancel' on-tap='cancelForm' />
                                    <input class='right' value='Submit' type='submit' name='log' on-tap='submitTime'/>
                                </div>
                            </div>
                        </li>
                  </ul>

            </div>
        </div>

<script>
    var moment = require('moment');
    var async = require('async'); 
    var ProjectStore = require('stores/ProjectStore');
    component.exports = {
		data: { 
            time: null,
            formatDate: function(date) {
                return moment(date).format('Do MMM YYYY');
            },
        },
        magic:true,
        components: {
            DayPicker: require('rvc!ui/daypicker'),
            ProjectDropdown : require('rvc!ui/projectdropdown'),
        },
        oninit: function() {
            this.initData();
//            console.log(ProjectStore)
//            this.set('default_id',ProjectStore.defaultKey)
            this.set({selected_project: ProjectStore.getState().selected_project});
            var removeProjectChangeHandler = ProjectStore.listen(function listChangeHandler(store) {
                this.set('selected_project', store.selected_project);
            }.bind(this));
            this.on('teardown', function onteardownHandler() {
                removeProjectChangeHandler();
            });
            this.on({
                toggleForm : function(event){
                    this.toggle('open');
                    if(this.get('edit')) {
                        this.set('edit',false)
                    }
                },
                cancelForm: function() {
                    this.clearForm();
                },
                handleInput: function(event) {
                    this.set('time.'+event.original.target.name,event.original.target.value);
                },
                submitTime: function(event) {
                    var time = this.get('time'), self = this;
                    var projectDropdown = this.findComponent('ProjectDropdown');
                    time.project_id = this.get('selected_project');
                    time.subproject_id= projectDropdown.get('subproject_id');
                    time.log_date = moment(this.findComponent('DayPicker').get('currentDate')).format('YYYY-MM-DD HH:mm:ss');
                    if(!time) { return };
                    var updateFlag = this.get('edit');
                    var action = (updateFlag) ? 'PUT' : 'POST';
                    var url = (updateFlag) ? 'times/'+time.id : 'times';
//                    console.log(time); return;
                    async(action,url,time)
                    .done(function(resp){
                        var time = resp.data;
                        if(updateFlag) {
                            self.updateTimes(time);
                        } else {
                            self.addTimes(time);
                        }

                    }).fail(function(resp){
                            console.log(resp.responseJSON);
                    });
                },
                deleteTime: function(event) {
                    if( confirm("Are you sure you wish to delete this time?")) {
                        var time = this.get('time'), self = this;
                        if(!time) { return };
                        var url = 'times/'+time.id;
                        async('DELETE',url)
//                        $.ajax({type: "POST",url: url,data: {id: time.id,_token : $('#_token').val()}})
                        .done(function(resp){
                            console.log(resp);
                            self.deleteTime(time.id);
                           
                        }).fail(function(resp){
                                console.log(resp.responseJSON);
                        });
                    }
                },
            })
        },
        onrender: function() {

            
            var formEl = this.find('#fixedForm');
            var top = formEl.getBoundingClientRect().y;
            var self = this;
            $(window).scroll(function (event) {
                var y = event.currentTarget.pageYOffset;
                toggleFixedForm(y,top);
            });
            var toggleFixedForm = function(y,topOffset) {
                if (y >= topOffset) {
                    // if so, ad the fixed class
                    self.set('fixed', true);
                } else {
                    // otherwise remove it
                    self.set('fixed', false);
                }
            };
        },
        clearForm: function() {
            this.initData();
//            this.findComponent('DayPicker').set('reset', true);
//            var projectSelect = this.findComponent('ProjectSelect');
//            projectSelect.set('project_id', projectSelect.get('default_id'));
//            this.set('time.project_id',  projectSelect.get('default_id'))
            this.set({open:false,edit:false});
        },
        initData: function() {
            var time = {};
            time.id = null;
            time.log_date = moment().format();
            time.time = null;
            time.description = null;
            time.project_id = this.findComponent('ProjectDropdown').get('default_id');
            this.set('time', time);
        },
        addTimes: function(time) {
            var times = this.get('times');
            this.unshift('times',time);
            this.clearForm();
        },
        updateTimes: function(time) {
            var times = this.get('times');
            for(var x in times) {
                if(times[x].id === time.id) {
                    this.splice( 'times', x, 1, time );
                    break;
                }
            }
            this.clearForm();
        },
        deleteTime: function(time) {
            var times = this.get('times');
            for(var x in times) {
                if(times[x].id === time) {
                    this.splice( 'times', x, 1);
                    break;
                }
            }
            this.clearForm();
        }
    }
