<div id="time" class="table-layout">
    <div class="column column-1">
    <TimeForm edit="{{edit}}"/>
</div>
<div class="column column-2">
<div class='list-wrap'>
         <h1 class='list-title'><span class="fa fa-chevron-right"></span>Times</h1>
         
         <div class='list-table'>
         {{#each times:i}}
             <ul class='list-row' style='border-left-color: {{projects[project_id].colour}};'>
                 <li class='list-item list-item-title' >
                     <div class='list-date list-column-1'>{{formatDate(log_date)}}
                     </div><div class='list-column-2'>
                         <div><div class="list-label"><span class="fa fa-wrench"></span></div><div class='list-abr'>{{projects[project_id].abbreviation}} {{#if projects[project_id].subprojects[subproject_id]}} - {{projects[project_id].subprojects[subproject_id].name}}{{/if}}</div></div>
                         <div><div class="list-label"><span class="fa fa-clock-o"></span></div><div class='list-time'>{{time}}</div></div>
                     </div><div on-tap='editTime' class='list-edit list-column-3'><span class='fa fa-pencil-square'></span>Edit</div>
                 </li>
                {{#if description}}<li class='list-item' >
                <div class='list-description'>{{description}}</div>
                </li>{{/if}}
            </ul>
         {{/each}}
         </div>
     </div> 
</div>
<div class="column column-3">
  
</div>
</div>
<script>
    var async = require('async'); 
    var ProjectActions = require('actions/ProjectActions')
    component.exports = {
		data: { 
            times: null,
            open: false,
            edit: false,
            fixed: false,
            formatDate: function(date) {
                var moment = require('moment');
                return moment(date).format('ddd Do MMM YYYY');
            },
        },
        components: {
            TimeForm: require('rvc!ui/timeform')
        },
        oninit: function() {
            this.getTimes();
            this.on({
                editTime: function(event) {
                    var time = event.keypath;
                    this.findComponent('TimeForm').set('time',this.get(time));
                    this.set({edit: true,open: true});
                    var projectDropdown = this.findComponent('ProjectDropdown');
                    ProjectActions.selectProject(this.get(time).project_id)
//                    projectDropdown.set('item_id',this.get(time).project_id);
                    projectDropdown.set('subproject_id',this.get(time).subproject_id);
                    this.findComponent('DayPicker').set('newDate',this.get(time).log_date);
                },
            })
        },
        getTimes: function(){
            var self = this;
            async("GET",'times',{})
            .done(function(resp){
                self.set('times',resp.data.reverse());
            }).fail(function(resp){
                console.log(resp);
            });
        },


    }
</script>
