<div class="datepicker-wrap">
    <div class="year-picker-wrap">
        {{formatYear(currentDate)}}
    </div>
    <div class="month-picker-wrap clearfix">
        
        <div on-tap='previousMonth' class='month-picker month-prev fa fa-chevron-left'></div>
            <div class="month-picker">{{formatMonth(currentDate)}}</div>

    <div on-tap='nextMonth' class='month-picker month-next fa fa-chevron-right'></div>
    </div>
<div class="day-picker-wrap">
    <div on-tap='previousDates' class='day-nav date-prev'><span class="fa fa-chevron-left"></span>previous week
    </div><div on-tap='nextDates' class='day-nav date-next'>next week<span class="fa fa-chevron-right"></span></div>
    <div class="day-picker-inner-wrap">
        {{#each dates:i}}
            <div on-tap='selectDate' class='day-picker {{#if formatDate(.) === formatDate(currentDate) }}selected{{/if}}'>{{formatDate(.)}}</div>
        {{/each}}
    </div>
    
</div>
</div>
