<div class='info-wrap'>
    
    
    {{#if points }}
    <div class='donut-chart'>
        <div class='square'>
            <svg viewBox='0 0 100 100'>
                <g transform='translate(50,50)'>
                    {{#each segments :i}}
                        <polygon
                            on-mouseover='set("selected",id)'
                            on-mouseout='set("selected",null)'
                            class='donut-segment'
                            fill='{{colours[id]}}'
                            opacity='{{selected ? ( selected === id ? 1 : 0.2 ) :1}}'
                            points='{{plot(this)}}'
                        >
                    {{/each}}
                    {{#if selected}}
                        <text intro-outro='fade' y='6'>{{points[selected]}}</text>
                    {{/if}}
                </g>
            </svg>
        </div>
    </div>
    <ul class='donut-legend'>
      {{#each colours}}
        <li>
          <span class='block' style='background-color: {{this}}'></span>
          <span>{{@key}}</span>
        </li>
      {{/each}}
    </ul>
    {{ else }}
        <h2>No activity</h2>
    {{/if}}
</div>
