<form on-submit="login">
<ul class="{{#if open }}open{{/if}}">
                <li>
                  <label for="email">Email<span class="required">*</span></label>
                  <input type="text" name="email" class="form-input" on-change='handleEmail'>
                </li>
                <li>
                  <label for="password">Password<span class="required">*</span></label>
                  <input type="password" name="password" class="form-input" on-change='handlePassword'>
                </li> 
                <li>
                    <div class="button"> <input value="Login" name="login" type="submit" on-tap="login" ></div>
                </li>
            </ul>
</form>