<div id="main-header" role="main-header" class="clearfix">
        <h1><span class="fa fa-clock-o"></span>TickTrack</h1>
        <div class="menu-icon" on-tap="toggleMenu"><span class="fa fa-bars"></span></div>
        {{#if signedIn}}
        <nav role="main-navigation" id="main-navigation" class="{{#if menuOpen }}open{{/if}}" > 
            <ul class="menu-list">
                <li class="menu-list-first-item">
                    <a href='/times'>times</a>
                </li><li>
                    <a href='/projects'>projects</a>
                </li><li>
                    <a href='/logout'>logout</a>
                </li>
            
            </ul>
        </nav>
        {{else}}
        <div class="header-login">
            <div class="button" on-tap='toggleLogin'>Login<span class="fa fa-sign-in"></span></div>
            <Login open='{{loginOpen}}' />
<!--            <div class="register-link">Not registered? click here</div>-->
        </div>
        {{/if}}
</div>
<div id="content">
    {{#if signedIn}}
        {{#if page==='times'}}
            <Times timeStore="{{timeStore}}" projectStore="{{projectStore}}"/>
        {{elseif page==='projects'}}
            <Projects projects="{{projectStore.projects}}" selected_project="{{projectStore.selected_project}}"/>
        {{/if}}
    {{else}}
        <Login/>
    {{/if}}
   
  
</div>