<ul  class='dropdown {{#if active }}active{{/if}}'>
    <li on-tap='toggleSelect' class='dropdown-selection'>
        <span class="dropdown-colour" style='background-color:{{items[ selected_project ].colour}}'></span>
        {{items[ selected_project ].abbreviation}}
        <span class="dropdown-name"> {{items[ selected_project ].name}}</span>
        {{#if items[ selected_project ].subprojects[subproject_id]}}<span class="dropdown-name"> {{items[ selected_project ].subprojects[subproject_id].name}}</span>{{/if}}
        <span class="fa fa-chevron-down"></span>
    </li>
    
    <li class="dropdown-wrap">
    {{#each items:i}}
        <div data-id='{{.id}}' >
            <div class="dropdown-project" on-tap='selectProject'>
            <span class="dropdown-colour" style='background-color:{{.colour}}'></span>
                <span class="dropdown-abr" >{{.abbreviation}}</span>
                <span class="dropdown-name" >{{.name}}</span>
            </div>
            {{#if two_level}}
                {{#each .subprojects}}
                <div class="dropdown-project-sub" on-tap='selectSubproject'>{{.name}}</div>
                {{/each}}
            {{/if}}
            </div>
            
    {{/each}}
    </li>
</ul>
