
    <div id='fixedForm' class='form-wrap'>
        <div class='form-inner-wrap'>
                
                    <ul class='add-item'>
                        <li>
                            <label>Colour:</label>
                            {{#if html5}}
                                <input type="color" class='form-input colour' value="{{project.colour}}" name="colour" on-change='handleInput'>
                            {{else}}
                                <input on-change='handleInput' decorator="colorpicker:{{project.colour}}" type="hidden" class='form-input color' value="{{project.colour}}" name="colour">
                            {{/if}}
                        </li><li>
                            <label>Name:</label>
                            <input class='form-input long' placeholder='Add project name here' name='name' value={{project.name}} on-change='handleInput'/>
                        </li><li>
                            <label>Abbreviation:</label>
                            <input  class='form-input short' placeholder='Max 4 letters' name='abbreviation' value={{project.abbreviation}} on-change='handleInput'/>
                        </li><li>
                            <label>Company:</label>
                            <input  class='form-input long' placeholder='Add company name here' name='company' value={{project.company}} on-change='handleInput'/>
                        </li><li>
                            <div class="form-buttons-wrap">
                                <div class="button">
                                    {{#if edit }}<input value='Delete' type='button' name='delete' on-tap='deleteProject'/>{{/if}}
                                    <input class='right' value='Cancel' type='button' name='cancel' on-tap='cancelForm' />
                                    <input class='right' value='Submit' type='submit' name='log' on-tap='submitProject'/>
                                </div>
                            </div>
                        </li>
                  </ul>

            </div>
        </div>
