<div id="project" class="table-layout">
    <div id="fixedColumn" class="column column-1 {{#if fixed }} fixed {{/if}}{{#if open }} open {{/if}}"><span on-tap='toggleColumn' class="fa fa-chevron-down expand"></span>
        <h2 on-tap='toggleForm' data-type="form" class='form-title'><span class="fa fa-chevron-right"></span> {{ edit ? 'Edit project' : 'Add a project' }}
        </h2><h2 on-tap='toggleForm' data-type="subform" class="form-title"><span class="fa fa-chevron-right"></span> Subcategory</h2>
        {{#if form }}
            <ProjectForm edit="{{edit}}" open="{{open}}"/>
        {{ else }}
            <SubprojectForm projects="{{projects}}" selected_project="{{selected_project}}" edit="{{edit}}" open="{{open}}"/>
        {{/if}}
        
</div>
<div class="column column-2">
<div class='list-wrap'>
         <h1 class='list-title'><span class="fa fa-chevron-right"></span>Projects</h1>

         <div class='list-table'>
         {{#each projects:i}}
             <ul class='list-item'>
                 
                <li>
                    <ul class='list-title-row'>
                        <li>
                            <div class='list-round-color' style="border-color: {{colour}}">
                                <div class='list-round-text'>{{abbreviation}}</div>
                            </div>
                        </li><li class="list-title-row-center">
                            <div class="list-row-content"><span class="fa fa-list-alt"></span><strong>{{name}}</strong>
                                {{#if company}} - {{company}}{{/if}}
                            
                            </div>
                            <div class="list-row-content"><span class="fa fa-clock-o"></span>{{total_time}}</div>
                        </li><li class="list-title-row-right"><div class="list-row-content list-edit" on-tap='editProject'>
                            <span class='fa fa-pencil-square'></span>Edit
                            </div></li>
                    </ul>
                </li>
                {{#if subprojects}} <li>
                    <div class="list-subtitle">Subcategories</div>
                    {{#each subprojects}}
                    <div class="list-subproject-wrap">
                        <div class='list-name'>{{.name}}
                        </div><div class='list-description'>{{.description}}</div>
                    </div>
                    {{/each}}
                </li>{{/if}}
            </ul>
         {{/each}}
         </div>
     </div> 
</div>
<div class="column column-3">
    
</div>
</div>
