
    <div id='fixedForm' class='form-wrap'>
        <div class='form-inner-wrap'>
                
                    <ul class='add-item'>
                        <li>
                            <label>Project:</label>
                            <ProjectDropdown items="{{projects}}" selected_project="{{selected_project}}" two_level="false"/>
                            
                        </li><li>
                            <label>Name:</label>
                            <input class='form-input long' placeholder='Add project name here' name='name' value={{subproject.name}} on-change='handleInput'/>
                        </li><li>
                            <label>Description:</label>
                            <input  class='form-input long' placeholder='Add description' name='description' value={{subproject.description}} on-change='handleInput'/>
                        </li><li>
                            <div class="form-buttons-wrap">
                                <div class="button">
                                    {{#if edit }}<input value='Delete' type='button' name='delete' on-tap='deleteProject'/>{{/if}}
                                    <input class='right' value='Cancel' type='button' name='cancel' on-tap='cancelForm' />
                                    <input class='right' value='Submit' type='submit' name='log' on-tap='submitProject'/>
                                </div>
                            </div>
                        </li>
                  </ul>

            </div>
        </div>
