<div id="time" class="table-layout">
    <div class="table-row">
    <div id="fixedColumn" class="column column-1 {{#if fixed }} fixed {{/if}}{{#if open }} open {{/if}}">
        <span on-tap='toggleColumn' class="fa fa-chevron-down expand"></span>
        <h2 on-tap='toggleForm' data-type="form" class='form-title'><span class="fa fa-chevron-right"></span> {{ edit ? 'Edit time' : 'Add a time' }}
        </h2><h2 on-tap='toggleForm' data-type="activity" class="form-title"><span class="fa fa-chevron-right"></span> Activity</h2>
        {{#if form }}
            <TimeForm edit="{{edit}}" open="{{open}}"/>
        {{ else }}
            <DonutChart points="{{projectStore.graphPoints}}" colours="{{projectStore.graphColours}}"/>
        {{/if}}
</div>
<div class="column column-2">
    <div class='list-wrap'>
        <h1 class='list-title'><span class="fa fa-chevron-right"></span>Times</h1>
        
            <TimeList/>
    </div> 
</div>
<div class="column column-3">
  <Timer/>
</div>
</div>
    </div>