<div class='list-table'>
    <div class="list-table-items-wrap">
        {{#each timeStore.times:i}}
            <ul id="item_{{i}}" class='list-item' >
                {{#if isLastItem(id,log_date,timeStore.logDates)}}
                <li class="list-week-separator">
                    
                    Week <strong>{{startOfWeek(log_date)}}</strong> to <strong>{{endOfWeek(log_date)}}</strong>
                </li>
                {{/if}}
                <li>
                    <ul class='list-title-row'>
                        <li><div class='list-round-color' style="border-color: {{projectStore.projects[project_id].colour}}">
                                <div class='list-round-text'>{{projectStore.projects[project_id].abbreviation}}</div>
                            </div>
                        </li><li class="list-title-row-center">
                            
                            <div class="list-row-content">
                                <span class="fa fa-calendar"></span>{{formatDate(log_date)}}
                            </div>
                            <div class="list-row-content">
                                <span class="fa fa-list-alt"></span><strong>{{projectStore.projects[project_id].name}}</strong>
                                {{#if projectStore.projects[project_id].subprojects[subproject_id]}} - {{projectStore.projects[project_id].subprojects[subproject_id].name}}{{/if}}
                            </div>
                            <div class="list-row-content">
                                <span class="fa fa-clock-o"></span>{{time}}
                            </div>

                        </li><li class="list-title-row-right">
                            <div class="list-row-content list-edit" on-tap='editTime'>
                            <span class='fa fa-pencil-square'></span>Edit
                            </div>
                        </li>

                    </ul>
                </li>

                
                    <li>
                        <ul class='list-content-row'>
                        <li>
                            <div class="list-description">
                                {{description}}
                            </div>
                        </li>
                        </ul>
                    </li>
            </ul>
        {{/each}}
    </div>
</div>