
    <div id='fixedForm' class='form-wrap'>
        <div class='form-inner-wrap'>
                    <ul class='add-item'>
                        <li>
                            <label>Project:</label>
                           <ProjectDropdown items="{{projectStore.projects}}" selected_project="{{projectStore.selected_project}}"/>
                        </li><li>
                            <label>Time:</label>
                            <input class='form-input short' placeholder='0.0' name='time' value={{time.time}} on-change='handleInput'/>
                        </li><li>
                            <label>Description:</label>
                            <input  class='form-input long' placeholder='Add description here' name='description' value={{time.description}} on-change='handleInput'/>
                        </li><li>
                            <label>Date:</label>
                            <DayPicker time_date={{time.log_date}} />
                        </li><li>
                            <div class="form-buttons-wrap">
                                <div class="button">
                                    {{#if edit }}<input value='Delete' type='button' name='delete' on-tap='deleteTime'/>{{/if}}
                                    <input class='right' value='Cancel' type='button' name='cancel' on-tap='cancelForm' />
                                    <input class='right' value='Submit' type='submit' name='log' on-tap='submitTime'/>
                                </div>
                            </div>
                        </li>
                  </ul>

            </div>
        </div>
